<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LEG - DELIVERY</title>
        <link rel="icon" type="image/png" href="/css/img/icon.png">        
        <link  rel="stylesheet" href="http://localhost:3000/css/style.min.css"><link>

        <script defer src="../clientDashboard.js"></script>

    </head>
<body onload="deliverys()">
    <!-- Main wrapper -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

            <!-- Topbar header - style you can find in pages.scss -->
            <header class="topbar" style="border-radius: 5px; background-color: mediumturquoise;">
                <form action="/dashboard" method="get"><button type="submit" style="background: none; border: none; outline:none;">
                    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                        <div class="navbar-header">
                            <!-- Logo -->
                            <a class="navbar-brand ms-4">
                                <span class="mdi me-2  mdi-airplane-takeoff" style="font-size: 30px; color: black;">
                                </span>
                                <span class="logo-text" style="font-size: 20px; color: black; font-weight: bold;">
                                    LEG-Delivery
                                </span>
                            </a>
                        </div>
                        <div  style="background-color: lightskyblue;">
                        </div>
                    </nav></button></form>
            </header>
            <!-- End Topbar header -->

            <!-- Left Sidebar -->
            <aside  class="left-sidebar" data-sidebarbg="skin6">
                <div class="scroll-sidebar">
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <form action="/dashboard" method="get"><button type="submit" style="background: none; border: none; outline:none;">
                                <li class="sidebar-item"> 
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                        <i class="mdi me-2 mdi-gauge"></i><span
                                            class="hide-menu">Dashboard</span></a></li>
                            </button></form>
                            <form action="/dashboard/profile" method="get"><button type="submit" style="background: none; border: none; outline:none;">
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        aria-expanded="false">
                                        <i class="mdi me-2 mdi-account-check"></i><span class="hide-menu">Profile</span></a></li>
                            </button></form>
                            <form action="/dashboard/deliveries" method="get"> <button type="submit" style="background: none; border: none; outline:none; ">
                            <li class="sidebar-item" style="background-color: mediumturquoise; border-radius: 5px;  width: 200px; "> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    aria-expanded="false"><i class="mdi me-2 mdi-truck-delivery" style="color: oldlace;"></i><span
                                        class="hide-menu" style="color: oldlace;">Deliveries</span></a></li>
                            </button></form>
                            <form action="/dashboard/analytical" method="get"> <button type="submit" style="background: none; border: none; outline:none; ">
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        aria-expanded="false"><i class="mdi me-2 mdi-trending-up"></i><span
                                            class="hide-menu">Analytical</span></a></li>
                            </button></form>
                            <form action="/dashboard/map-google" method="get"> <button type="submit" style="background: none; border: none; outline:none; ">
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        aria-expanded="false"><i class="mdi me-2 mdi-google-maps"></i><span
                                            class="hide-menu">Google Map</span></a></li>
                                        </button></form>
                        </ul>
                    </nav>
                </div>
                <div class="sidebar-footer">
                    <div class="row">
                        <div class="col-4 link-wrap">
                            <a  href="/" onclick="logOut()" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i
                                    class="mdi mdi-power">Exit</i> </a>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- End Sidebar scroll-->    
    </div>



    <div class="page-wrapper" style="left: 250px; width: 1000px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Deliveries</h4>
                            <div class="table-responsive" >
                                <table class="table user-table">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Shipping ID</th>
                                            <th class="border-top-0">QRCode</th>                                            
                                            <th class="border-top-0">Send from</th>
                                            <th class="border-top-0">First name</th>
                                            <th class="border-top-0">Last name</th>
                                            <th class="border-top-0">Phone</th>
                                            <th class="border-top-0">Email</th>
                                            <th class="border-top-0">Price</th>
                                            <th class="border-top-0">Taxes</th>
                                        </tr>
                                    </thead>
                                    <tbody id="deliverys()">
                                        <tr>
                                            <td id ="td00"></td>
                                            <td > <img  src="/css/img/0.png" style="width: 70px; height: 70px;" alt=""></td>
                                            <td id ="td02"></td>
                                            <td id ="td03"></td>
                                            <td id ="td04"></td>
                                            <td id ="td05"></td>
                                            <td id ="td06"></td>
                                            <td id ="td07"></td>
                                            <td id ="td08"></td>
                                        </tr>
                                        <tr>
                                            <td id ="td10"></td>
                                            <td > <img  src="/css/img/1.png" style="width: 70px; height: 70px;" alt=""></td>
                                            <td id ="td12"></td>
                                            <td id ="td13"></td>
                                            <td id ="td14"></td>
                                            <td id ="td15"></td>
                                            <td id ="td16"></td>
                                            <td id ="td17"></td>
                                            <td id ="td18"></td>
                                        </tr>
                                        <tr>
                                            <td id ="td20"></td>
                                            <td > <img  src="/css/img/2.png" style="width: 70px; height: 70px;" alt=""></td>
                                            <td id ="td22"></td>
                                            <td id ="td23"></td>
                                            <td id ="td24"></td>
                                            <td id ="td25"></td>
                                            <td id ="td26"></td>
                                            <td id ="td27"></td>
                                            <td id ="td28"></td>
                                        </tr>
                                        <tr>
                                            <td id ="td30"></td>
                                            <td > <img  src="/css/img/3.png" style="width: 70px; height: 70px;" alt=""></td>
                                            <td id ="td32"></td>
                                            <td id ="td33"></td>
                                            <td id ="td34"></td>
                                            <td id ="td35"></td>
                                            <td id ="td36"></td>
                                            <td id ="td37"></td>
                                            <td id ="td38"></td>
                                        </tr>
                                        <tr>
                                            <td id ="td40"></td>
                                            <td > <img  src="/css/img/4.png" style="width: 70px; height: 70px;" alt=""></td>
                                            <td id ="td42"></td>
                                            <td id ="td43"></td>
                                            <td id ="td44"></td>
                                            <td id ="td45"></td>
                                            <td id ="td46"></td>
                                            <td id ="td47"></td>
                                            <td id ="td48"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        
</body>
</html>