<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="icon" type="image/png" href="/css/img/icon.png">        
    <script defer src="script.js"></script>
  </head>
  <body>
    <!-- dont touch below! -->
      <div class="perspective-text">
        <div class="perspective-line">
        </div>
        <div class="perspective-line">
          <p>Liad</p>
        </div>
        <div class="perspective-line">
          <p>Elad</p>
        </div>
        <div class="perspective-line">
          <p>Gidon</p>
        </div>
        <div class="perspective-line">
          <p> LEG - Delivery </p>
        </div>
      </div>
      <!-- dont touch above! -->
    </center>
      <div id="box">
        <h5>Login</h5>
        <form id="accepted" method="get" action="/dashboard">
          <input type="text" class= "upv" id="user" name="user" placeholder=" Username">
          <input type="password" class= "upv" id="password" name="pass" placeholder=" Password" >
          <button type="button" onclick="AteempetLogin()" class= "buttonS" data-modal-target="#Mymodal">Submit</button>
        </form>
        <form method="get" action="/register">
          <button id = "buttonR" type="submit"> Register</button>
        </form>
        <br>
      </div>
      <div class="Mymodal" id="Mymodal">
        <div class="Mymodal-header">
          <div class="title" id="Mymodal-tile"></div>
          <button data-close-button class="close-button">&times;</button>
        </div>
          <div class="Mymodal-body" id="Mymodal-message"></div>
      </div>
      <div id="overlay"></div>
  </center>
  </body>
</html>
