<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEG - DELIVERY</title>
  <link rel="icon" type="image/png" href="/css/img/icon.png">        
  <link  rel="stylesheet" href="http://localhost:3000/css/style.min.css"><link>
  <script defer src="../clientDashboard.js"></script>


    <style>
      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
      .button1 {
        background-color: #555555;
        color: white;
      }
      .button1:hover {
        background-color: white;
        color: black;
        border: 2px solid #555555;
      }

      </style>
</head>
<body onload="getInfo()">
    <!-- Main wrapper -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

            <!-- Topbar header - style you can find in pages.scss -->
            <header class="topbar" style="border-radius: 5px; background-color: mediumturquoise;">
                <form action="/dashboard" method="get"><button type="submit" style="background: none; border: none; outline:none;">
                    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                        <div class="navbar-header">
                            <!-- Logo -->
                            <a class="navbar-brand ms-4">
                                <span class="mdi me-2  mdi-airplane-takeoff" style="font-size: 30px; color: black;">
                                </span>
                                <span class="logo-text" style="font-size: 20px; color: black; font-weight: bold;">
                                    LEG-Delivery
                                </span>
                            </a>
                        </div>
                        <div  style="background-color: lightskyblue;">
                        </div>
                    </nav></button></form>
            </header>
            <!-- End Topbar header -->

            <!-- Left Sidebar -->
            <aside  class="left-sidebar" data-sidebarbg="skin6">
                <div class="scroll-sidebar">
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <form action="/dashboard" method="get"><button type="submit" style="background: none; border: none; outline:none;">
                                <li class="sidebar-item"> 
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                        <i class="mdi me-2 mdi-gauge"></i><span
                                            class="hide-menu">Dashboard</span></a></li>
                            </button></form>
                            <form action="/dashboard/profile" method="get"><button type="submit" style="background: none; border: none; outline:none;">
                                <li class="sidebar-item" style="background-color: mediumturquoise; border-radius: 5px;  width: 200px; "> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        aria-expanded="false">
                                        <i class="mdi me-2 mdi-account-check" style="color: oldlace;"></i><span class="hide-menu" style="color: oldlace;">Profile</span></a></li>
                            </button></form>
                            <form action="/dashboard/deliveries" method="get"> <button type="submit" style="background: none; border: none; outline:none; ">
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    aria-expanded="false"><i class="mdi me-2 mdi-truck-delivery"></i><span
                                        class="hide-menu">Deliveries</span></a></li>
                            </button></form>
                            <form action="/dashboard/analytical" method="get"> <button type="submit" style="background: none; border: none; outline:none; ">
                              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                      aria-expanded="false"><i class="mdi me-2 mdi-trending-up"></i><span
                                          class="hide-menu">Analytical</span></a></li>
                          </button></form>
                            <form action="/dashboard/map-google" method="get"> <button type="submit" style="background: none; border: none; outline:none; ">
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        aria-expanded="false"><i class="mdi me-2 mdi-google-maps"></i><span
                                            class="hide-menu">Google Map</span></a></li>
                                        </button></form>
                        </ul>
                    </nav>
                </div>

                <div class="sidebar-footer">
                    <div class="row">
                        <div class="col-4 link-wrap">
                            <a  href="/" onclick="logOut()" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i
                                    class="mdi mdi-power">Exit</i> </a>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- End Sidebar scroll-->    
    </div>



        <div class="page-wrapper" style="left: 230px; ">
        <div class="content">            
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h1 class="title">Edit Profile</h1>

                </div>
                <div class="card-body">
                <form>
                    <div class="row">
                      <div class="col-md-5 pr-2" style="width: 350px;">
                        <div class="form-group">
                          <label>Company (disabled)</label>
                          <input type="text" class="form-control" disabled="" placeholder="Company" value="LEG-Delivery">
                        </div>
                      </div>
                      <div class="col-md-3 px-1" style="width: 350px;">
                        <div class="form-group">
                          <label>Username</label>
                          <input type="text" class="form-control" id ="pro_username" disabled="" placeholder="Username" value="">
                        </div>
                      </div>
                      <div class="col-md-4 pl-1" style="width: 350px;">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" id ="pro_email" class="form-control" placeholder="Email" value="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pr-1" style="width: 450px;">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" id ="pro_first_name" class="form-control" placeholder="Company" value="">
                        </div>
                      </div>
                      <div class="col-md-6 pl-1" style="width: 450px;">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" id ="pro_last_name" class="form-control" placeholder="Last Name" value="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="width: 700px;">
                        <div class="form-group">
                          <label>Address</label>
                          <input type="text" id ="pro_address" class="form-control" placeholder="Home Address" value="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 pr-1" style="width: 350px;">
                        <div class="form-group">
                          <label>City</label>
                          <input type="text" id ="pro_city" class="form-control" placeholder="City" value="">
                        </div>
                      </div>
                      <div class="col-md-4 px-1" style="width: 350px;">
                        <div class="form-group">
                          <label>Country</label>
                          <input type="text" id ="pro_country" class="form-control" placeholder="Country" value="">
                        </div>
                      </div>
                      <div class="col-md-4 pl-1" style="width: 350px;">
                        <div class="form-group">
                          <label>Postal Code</label>
                          <input type="number" id ="pro_zip" class="form-control" placeholder="ZIP Code">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="width: 1100px;">
                        <div class="form-group">
                          <label>About Me</label>
                          <textarea rows="4" cols="80" class="form-control" id ="pro_about" placeholder="Here can be your description" value=""></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-4 align-self-right" >
                      <div class="text-end upgrade-btn" style="width: 550px;">
                        <button class="button button1" onclick="saveProfile()">Save data</button> 
                        

                      </div>
                  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>

        
</body>
</html>