<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link rel="icon" type="image/png" href="/css/img/icon.png">        
    <script defer src="script.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
      <div id="login-box">
          <div class="left">
            <form>
              <h1>Sign up</h1>
              <br><br>
              <input type="text" id="name" placeholder="Username" />
              <input type="password" id="pass1" placeholder="Password" />
              <input type="password" id="pass2" placeholder="Retype password" />
              <button type="button" onclick="AteempetSignup()" class="buttonR" data-modal-target="#Mymodal">Sign up</button>
            </form>
          </div>
        </div>
    <div class="Mymodal" id="Mymodal">
    <div class="Mymodal-header">
      <div class="title" id="Mymodal-tile"></div>
      <button data-close-button class="close-button">&times;</button>
    </div>
      <div class="Mymodal-body" id="Mymodal-message"></div>
  </div>
  <div id="overlay"></div>
</body>
</html>